%h1 Critical acclaim
%p{:style => "font-size: 16px; margin: 20px 0;"}
  ACT Boost was nominated for a Global Student Entrepreneur Award (
  %a{:href=>"http://www.gsea.org", target: "_blank"} http://www.gsea.org
  )
.testimonials
  .test
    .quote "Overall, the ACT Boost is a terrific testing resource that uses an approach honed over many years of standardized testing."
    .quoter Davis C.
  .test
    .quote "The ACT Boost also addresses why certain sections of the ACT test are difficult, and how to overcome those tricky sections. The Boost’s structure is very easy to use. It is written to give strategies on each ACT section, so that if you are struggling on certain sections you can jump to the section you need help with and read the strategies" -C.G.
    .quoter Charles G.
  .test
    .quote "The Reading section is awesome."
    .quoter Gabrielle K.
