.main-left
  %h1 Critical acclaim
  %p Something about the awards you've gotten
.main-right
  %img{:src => "/assets/blah.jpg", :alt => "an image over here?"}
.testimonials
  .test
    .quote "This book is superb"
    .quoter Rafi
  .test
    .quote "It actually taught me something! And the quote goes on and on..."
    .quoter Harry Potter
  .test
    .quote "Eh"
    .quoter Chuck Du