.main-left
  %h1 The author, Jay
  .small-text

    %p Jay N. Gor is a sophomore economics major at Brown University.  After graduating from the University of Chicago Laboratory High School in 2011, Jay wrote “The ACT Boost” in hopes of creating an interpersonal, student-focused guide to the ACT exam.  He had gone through over half a dozen books and multiple classes, but such careful preparation wasn’t reflected in score improvements.  Only after drawing on the most helpful aspects of each preparation medium was Jay able to raise his scores into the 35-36 range.  In doing so, he developed efficient studying and test-taking methodologies for each section.  Jay shares these invaluable strategies within “The ACT Boost,” so that you, too, can master the ACT exam. 
   
    %p Outside of test-prep work, Jay spends his time writing Yahoo! Business and Finance articles, working in the financial services industry, and campaigning.  He enjoys swimming, watching sports and reading economics-related books.  He wishes to pursue a career in finance after graduating from Brown.

    %p 
      To reach Jay with questions or inquiries, you can e-mail him 
      %a{:href => "jay.jn.gor@gmail.com"} here. 
.main-right
  %img{:src => "/assets/jay2.jpg", :width => "100%"}