.box.one
  %h1 Book Overview
  .text
    %p{:style=>"margin-bottom: 30px;"}
      %span.bold This is a strategic guide to the ACT, not a prep book. 
      I’ve included things like the most important formulas, the best preparation material, methodologies for every section, and practice questions and a practice test with detailed answers and explanations. It contains 
      %span.bold test-taking strategies idiosyncratic to the ACT only,
      methods I’ve developed after two Kaplan courses, completion of Barron’s, Princeton Review, ACT for Dummies, and McGraw Hill books, and an Academic Approach ACT class.
  .small.left.one
    .text
      %p.bold Goals
      %p
        This guide will boost your score by at least one or two points in each subject area. Implementing my ACT test-taking strategy will cut the time you spend on each test, giving you time to go back and check answers on each section. The essay portion provides examples and consistency secrets to scoring in the 10-12 range.


      %p.bold Personal Experience
      %p
        After exhausting virtually every available ACT text and retaking official ACTs, my score was stuck around the 33-34 range. It became obvious that it wasn’t what I knew, rather it was how I applied my knowledge. Changes in my methodology boosted my score into the 99th percentile, and this guide will help you see similar improvement.
  .big
    %img{:src => "/assets/1.png"}
%a{:name => "english"}
.box
  %h1 English
  .big
    %img{:src => "/assets/english.jpg"}
  .small.right
    .text
      %p.bold Covers
      %ul
        %li Comma usage
        %li Apostrophes
        %li Semicolons & colons
        %li Subject-verb agreement
        %li Sentence structure
        %li Punctuation (periods, question marks, etc.)
%a{:name => "math"}
.box.three
  %h1 Mathematics
  .small.left.three
    .text
      %p.bold Covers
      %ul 
        %li Pre-algebra (division, exponents, probability, proportions, etc.)
        %li Algebra (inequalities, linear equations, logarithms, quadratics, etc.)
        %li Coordinate geometry (x,y plane, slope, distance/midpoint, parallel vs. Perpendicular, etc.)
        %li Plane geometry (angles, circles, triangles, etc.)
        %li Trigonometry (identities,  basic SOHCAHTOA, etc.)
        %li Importance of programs
        %li Plugging and testing middle answers
        %li Understanding difficulty increases proportionally to problem #

  .big
    %img{:src => "/assets/math.jpg"}
%a{:name => "reading"}
.box.two
  %h1 Reading
  .big
    %img{:src => "/assets/reading.jpg"}
  .small.right.two
    .text
      %p.bold Covers
      %ul 
        %li Prose fiction, social science, natural science, humanities
        %li Back and forth strategy
        %li Key word circling
        %li Efficient skimming
        %li Vocabulary-in-context
        %li Author statements & inferences

%a{:name => "science"}
.box.four
  %h1 Science
  .small.left.four
    .text
      %p.bold Covers
      %ul 
        %li Efficient skimming
        %li Understanding graphs, charts and data tables 
        %li Variable relationships
        %li Importance of gist vs. details
        %li Attacking conflicting viewpoints passages separately and differently
  .big
    %img{:src => "/assets/science.jpg"}
%a{:name => "writing"}
.box.one
  %h1 Writing
  .big
    %img{:src => "/assets/writing.jpg"}
  .small.right.five
    .text
      %p.bold Covers
      %ul 
        %li Relevant-exemplar strategy
        %li The 3-3 rule
        %li Intro, 3b, conclusion model
        %li Importance of clarity, specifics, and consistency
  

