.box.one
  %h1 Book Overview
  .text
    %p{:style=>"margin-bottom: 30px;"}
      %span.bold This is a strategic, efficient guide to the ACT, not a couple-hundred page prep book. 
      I’ve included things like the most important formulas, the best preparation material, methodologies for every section, and practice questions and a practice test with detailed answers and explanations. It contains 
      %span.bold test-taking strategies idiosyncratic to the ACT only,
      methods I’ve developed after two Kaplan courses, completion of Barron’s, Princeton Review, ACT for Dummies, and McGraw Hill books, and an Academic Approach ACT class.
  .small.left.one
    .text
      %p.bold Goals
      %p
        This guide will boost your score by at least one or two points in each subject area. Implementing my ACT test-taking strategy will cut the time you spend on each test, giving you time to go back and check answers on each section. The essay portion provides examples and consistency secrets to scoring in the 10-12 range.


      %p.bold Personal Experience
      %p
        After exhausting virtually every available ACT text and retaking official ACTs, my score was stuck around the 33-34 range. It became obvious that it wasn’t what I knew, rather it was how I applied my knowledge. Changes in my methodology boosted my score into the 99th percentile, and this guide will help you see similar improvement.
  .big
    %img{:src => "/assets/1.png"}
