.box
  .small.left.one
    %h1 Book Overview
    .text
      %p 
        I wrote this book after years of experience, training and all that good stuff about why everyone should buy this book. Maybe discuss philosophy/overview here, too?
        %ul
          %li Add a list
          %li if you want
  .big
    %img{:src => "/assets/1.png"}
.box
  .big
    %img{:src => "/assets/2.png"}
  .small.right.two
    %h1 Reading
    .text
      %p 
        An explanation of your idea behind the reading section, and why it's awesome. the image should correspond.
.box
  .small.left.three
    %h1 Mathematics
    .text
      %p 
        I'm tryign to think of ways to spicen this up with color...ideas?
  .big
    %img{:src => "/assets/3.png"}
.box
  .big
    %img{:src => "/assets/2.png"}
  .small.right.four
    %h1 Science
    .text
      %p 
        E = MC
        %sup 2
        , yo