.footer
  &copy; Jay N. Gor 2012 2012 |&nbsp;
  %a{:href => "mailto:jay.jn.gor@gmail.com"} jay.jn.gor@gmail.com 
  |&nbsp;
  Website design by
  %a{:href => "//faiazkhan.com", :target => "_blank"} Rafi Khan
  &nbsp; &nbsp;
  :plain
    <fb:like href="http://theactboost.com" send="false" layout="button_count" width="30" show_faces="false"></fb:like>