#top
  %a{:href => "/"}
    %img#logo{:src => "/assets/logo.png"}
  .pull-right
    = render :partial => "social"

    .nav.small-nav
      %ul
        %li{:target=>"The book"} 
          %a{:href => "/book"} The book
        %li{:target=>""} 
          %a{:href => "#"} The author
        %li{:target=>"More!"} 
          %a{:href => "/more"} More!
      -#%li.btn{:target=>"order"} Order Now!
  

#content
  .main-left
    %h1 The author, Jay
    %p Some nice content about you
    %p Info about tutoring, and whateva
  .main-right
    %img{:src => "/assets/jay.jpg", :width => "100%"}

.footer
  &copy; Jay Upadhyay 2012 |&nbsp;
  %a{:href => "mailto:jay.jn.gor@gmail.com"} jay.jn.gor@gmail.com 
  |&nbsp;
  Website design by
  %a{:href => "//faiazkhan.com", :target => "_blank"} Rafi Khan
-#