#top
  %a{:href => "/"}
    %img#logo{:src => "/assets/logo.png"}
  .pull-right
    = render :partial => "social"

    .nav.small-nav
      %ul
        %li{:target=>""} 
          %a{:href => "#"} The book
        %li{:target=>"The author"} 
          %a{:href => "/author"} The author
        %li{:target=>"More!"} 
          %a{:href => "/more"} More!

      -#%li.btn{:target=>"order"} Order Now!
  

#content
  .box
    .small.left.one
      %h1 Overview
      .text
        %p 
          I wrote this book after years of experience, training and all that good stuff about why everyone should buy this book. Maybe discuss philosophy/overview here, too?
          %ul
            %li Add a list
            %li if you want

    / The fill makes the space between divs since .small may come before or after the .big (so margins don't work)
    .big
      %img{:src => "/assets/1.png"}
  .box
    .big
      %img{:src => "/assets/2.png"}
    .small.right.two
      %h1 Reading
      .text
        %p 
          An explanation of your idea behind the reading section, and why it's awesome. the image should correspond.
  .box
    .small.left.three
      %h1 Mathematics
      .text
        %p 
          I'm tryign to think of ways to spicen this up with color...ideas?
    .big
      %img{:src => "/assets/3.png"}

.footer
  &copy; Jay Upadhyay 2012 |&nbsp;
  %a{:href => "mailto:jay.jn.gor@gmail.com"} jay.jn.gor@gmail.com 
  |&nbsp;
  Website design by
  %a{:href => "//faiazkhan.com", :target => "_blank"} Rafi Khan
-#