= render partial: 'header'
#content.book{:style=> "margin-top: 120px;"}
  %a{:name => "english"}
  .box
    %h1 English
    .big
      %img{:src => "/assets/english.jpg"}
    .small.right
      .text
        %p.bold Covers
        %ul
          %li Comma usage
          %li Apostrophes
          %li Semicolons & colons
          %li Subject-verb agreement
          %li Sentence structure
          %li Punctuation (periods, question marks, etc.)
  %a{:name => "math"}
  .box.three
    %h1 Mathematics
    .small.left.three
      .text
        %p.bold Covers
        %ul 
          %li Pre-algebra (division, exponents, probability, proportions, etc.)
          %li Algebra (inequalities, linear equations, logarithms, quadratics, etc.)
          %li Coordinate geometry (x,y plane, slope, distance/midpoint, parallel vs. Perpendicular, etc.)
          %li Plane geometry (angles, circles, triangles, etc.)
          %li Trigonometry (identities,  basic SOHCAHTOA, etc.)
          %li Importance of programs
          %li Plugging and testing middle answers
          %li Understanding difficulty increases proportionally to problem #

    .big
      %img{:src => "/assets/math.jpg"}
  %a{:name => "reading"}
  .box.two
    %h1 Reading
    .big
      %img{:src => "/assets/reading.jpg"}
    .small.right.two
      .text
        %p.bold Covers
        %ul 
          %li Prose fiction, social science, natural science, humanities
          %li Back and forth strategy
          %li Key word circling
          %li Efficient skimming
          %li Vocabulary-in-context
          %li Author statements & inferences

  %a{:name => "science"}
  .box.four
    %h1 Science
    .small.left.four
      .text
        %p.bold Covers
        %ul 
          %li Efficient skimming
          %li Understanding graphs, charts and data tables 
          %li Variable relationships
          %li Importance of gist vs. details
          %li Attacking conflicting viewpoints passages separately and differently
    .big
      %img{:src => "/assets/science.jpg"}
  %a{:name => "writing"}
  .box.one
    %h1 Writing
    .big
      %img{:src => "/assets/writing.jpg"}
    .small.right.five
      .text
        %p.bold Covers
        %ul 
          %li Relevant-exemplar strategy
          %li The 3-3 rule
          %li Importance of clarity, specifics, and consistency
    
= render :partial => "footer"
