%img.logo{:src => "/assets/logo.jpg"}
#social
  :plain
    <fb:like href="http://theactboost.com" send="false" layout="button_count" width="30" show_faces="false"></fb:like>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://theactboost.com" data-text="The sweetest ACT prep book, the ACT Boost!" data-count="horizontal">Tweet</a>
    <g:plusone size="medium"></g:plusone>

.mid
  .left.b
    %ul.nav
      %li About
      %li Testimonials
  .right.b
    there
.bottom.b
  bottom
    