.top-container
  #top.contain
    #logo
      %a{:href => "/"}
        %img.pull-left{:src => "/assets/rocket_logo_color.png"}
        %p.pull-left.logo-text The ACT Boost
    %table.nav
      %tr
        %td#nav-list-show{:target => "book"} 
          %p.selected
            Book 
            %span.caret{:style => "vertical-align: 20%;"}
          %ul#nav-list
            .arrow-up
            %li.js-nav{:target => "english"} English
            %li.js-nav{:target => "math"} Mathematics
            %li.js-nav{:target => "reading"} Reading
            %li.js-nav{:target => "science"} Science
            %li.js-nav{:target => "writing"} Writing
        %td
          %a{:href=>"/about"}
            %p About
        -# 
          %td.js-nav{:target => "author"} 
          %p Author
        %td{:target => "buy"} 
          %p Buy!
#preview 
  .preview-left
    %h1.logo-text The ACT Boost
    %p.kicker 
      Save hundreds to thousands of dollars on test preparation material that will only marginally improve your score.  This guide gives you practical skills and strategies only a student who's taken and mastered the exam can provide.  It's the one and only book you'll need to ace the ACT.

  .preview-right
    %img{:src => "/assets/rocket_logo_color.png", :alt => "The ACT Boost"}
#content
  %a{:name => "book"}
  = render :partial => "book"

= render :partial => "footer"
   
        