#top
  %a{:href => "/"}
    %img#logo{:src => "/assets/logo.png"}
  .pull-right
    = render :partial => "social"

.nav.big-nav
  %ul
    %li{:target=>"book"} 
      %a{:href => "/book"} The book
    %li{:target=>"authro"} 
      %a{:href => "/author"} The author
    %li{:target=>"more"} 
      %a{:href => "/book"} More!
  -# 
    %a{:href => "/author"} 
      %li{:target=>"author"} The author
    %a{:href => "/book"} 
      %li{:target=>"more"} More!
    -#%li.btn{:target=>"order"} Order Now!

#content.main
  .main-left
    %h1 The ACT Boost
    %h5 
      The one and only guide you'll ever need to 
      %strong pwn
      the ACT!
    %a.btn{:href=>"/buy"} Buy now!

  .main-right
    %img{:src => "/assets/logo.png", :alt => "Some engaging infographic"}
  .testimonials
    .test
      .quote "This book is superb"
      .quoter Rafi
    .test
      .quote "It actually taught me something! And the quote goes on and on..."
      .quoter Harry Potter
    .test
      .quote "Eh"
      .quoter Chuck Du

.footer
  &copy; Jay Upadhyay 2012 |&nbsp;
  %a{:href => "mailto:jay.jn.gor@gmail.com"} jay.jn.gor@gmail.com 
  |&nbsp;
  Website design by
  %a{:href => "//faiazkhan.com", :target => "_blank"} Rafi Khan
-#
  #middle
    .left
      .text
        %h1
          Get ready for the easiest road to the elusive 36!
        %p
      .text{:name => "about"}
        %h1 About
        Some really engaging text about this book!
        %ul
          %li A list
          %li of contents
          %li perhaps?
        .quote Why it's better than everything else!
        .dr Colors, maybe?
        %span{:style => "color: green"} more!
      .text{:name=> "testimonials"}
        %h1 Testimonials
        .quote
          "This is fantastic!"
        .quoter
          Rafi Khan

      .text{:name => "tutoring"}
        %h1 Tutoring
      .text{:name => "order"}
        %h1 Content for ordering
    .right
      -#
        .btn.btn-big 
        Order now!
        .tiny (with paypal)
      #nivo.theme-default
        #slider.nivoSlider{:style => "margin-bottom: 0px;"}
          %img{:src => "/assets/cover.jpg", :title => "We can add captions, too!"}
          %img{:src => "/assets/1.png", :title => "Fancy ones"}
          %img{:src => "/assets/2.png", :title => "#caption"}
          %img{:src => "/assets/3.png", :title => "hehehe"}
      #caption.hide
        %strong With
        %a{:href => "//google.com"} links
        %emph even :)
      
        