.top-container
  #top.container
    %a{:href => "/"}
      %img#logo{:src => "/assets/logo-long.png"}
    .pull-right
      #social
      :plain
        <fb:like href="http://theactboost.com" send="false" layout="button_count" width="30" show_faces="false"></fb:like>
        <g:plusone size="medium"></g:plusone>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://theactboost.com" data-text="The sweetest ACT prep book, the ACT Boost!" data-count="horizontal">Tweet</a>
    %table.nav
      %tr
        %td{:target => "book"} 
          %p The book
        %td{:target => "acclaim"} 
          %p Acclaim
        %td{:target => "author"} 
          %p The author
        %td{:target => "buy"} 
          %p Buy!
  

#content
  .divider.hidden{:name => "buy"}
  .main-left{:style => "width: 55%; margin-right: 5%;"}
    %h1 The ACT Boost
    %h5 
      The one and only guide you'll ever need to 
      %strong pwn
      the ACT!
    .btn.buy-now{:href => "#"}
      %a Buy now! 
      %span (with PayPal)

  .main-right{:style => "width: 40%;"}
    %img{:src => "/assets/logo-square.png", :alt => "The Boost Apple"}

  .divider{:name => "book"}
  = render :partial => "book"
  .divider{:name => "acclaim"}
  = render :partial => "acclaim"
  .divider{:name => "author"}
  = render :partial => "author"


.footer
  &copy; Jay Upadhyay 2012 |&nbsp;
  %a{:href => "mailto:jay.jn.gor@gmail.com"} jay.jn.gor@gmail.com 
  |&nbsp;
  Website design by
  %a{:href => "//faiazkhan.com", :target => "_blank"} Rafi Khan
   
        