@import "base.less";


@back: #030739;
@pad: 30px;
body {
  font: 18px/22px;
  font-family: "Droid Serif", serif;
  font-family: "PT Sans";
  .rad-gradient(lighten(@back, 20%), @back);
  background-image: url("/assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

.container {
  padding: 0px @pad;
  min-height: 100%;
  background-color: rgba(255,255,255,.1);
  .box-shadow(0px 0px 2px 1px #888);
}

#social {
  margin-top: 20px;
  float:right;
  * {
    margin-right: -20px;
    vertical-align: top;
    &:last-child {
      vertical-align: bottom;
    }
    &:first-child {
      margin-right: 0px;
    }
  }
}

#logo {
  width: 40%;
}


.b {
  //border: 1pt solid red;
}

.mid {
  font-size: 0;
}

.left {
  font-size: 14px;
  display: inline-block;
  width: 40%;
  margin-right: 
  height: 300px;
}

.nav {
  li {
    padding: 20px;
    border: 1pt solid red;
  }
}

.right {
  font-size: 14px;

  display: inline-block;
  
  height: 300px;
  width: 50%;
}

.bottom {
  height: 200px;
}
