.transition(@item: all, @dur: 1s, @ease: ease, @delay: 0) {
  -o-transition: @item @dur @ease @delay;
  -moz-transition: @item @dur @ease @delay;
  -webkit-transition: @item @dur @ease @delay;
  transition: @item @dur @ease @delay;
}

.gradient(@start: white, @stop: grey) {
  background: @start;
  background: -moz-linear-gradient(top, @start 0%, @stop 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@start), color-stop(100%,@stop));
  background: -webkit-linear-gradient(top, @start 0%,@stop 100%); 
  background: -o-linear-gradient(top, @start 0%,@stop 100%); 
  background: -ms-linear-gradient(top, @start 0%,@stop 100%);
  background: linear-gradient(top, @start 0%,@stop 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfecfc', endColorstr='#319ff9',GradientType=0 );
}
.btn(@color: #FAFAFA) {
  .gradient(lighten(@color, 5%), darken(@color, 10%));
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  &:hover {
    .gradient(lighten(@color, 15%), darken(@color, 5%));
  }
  &:active {
    .gradient(@color, lighten(@color, 10%));
  }
  cursor:pointer;
}

.3d(@color: #eee) {
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  .gradient(lighten(@color, 5%), darken(@color, 10%));
}

@width: 980px;
@back: #030739;
@pad: 30px;
@background: #FDFDFD;
@font-size: 18px;
@line-height: 24px;
body {
  font: @font-size;
  line-height: @line-height;
  font-family: "Droid Serif", serif;
  font-family: "PT Sans";
  background-image: url("/assets/back-diag.jpg");
  background-repeat: repeat-x repeat-y;
}

h1 {
  font-size: 36px;
  line-height: 50px;
}

#social {
  float: right;
  * {
      vertical-align: top;
    
    margin-right: -30px;
    &:first-child {
      margin-right: 0px;
    }
  }
}
@top-height: 150px;
.top-container {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: @top-height;
  background-image: url("/assets/back-diag.jpg");
}

#top {
  background-color: transparent;
  img {
    height: 70px;
  }
  margin-top: 20px;
}

/* Tab colors */
@one: #00B9E4;
@two: #EC008C;
@three: #92D400;
@four: #FF6E00;

.nav {
  width: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  line-height: 34px;
  td {
    cursor:pointer;
    border: 1pt solid #DDD;
    border-right: none;
    padding: 10px 0;
    &:first-child {
      background-color: @one;
      .btn(@one);
      //.border-radius(0px, 0px, 5px, 5px);
    }
    &:nth-child(2) {
      background-color: @two;
      .btn(@two);
    }
    &:nth-child(3) {
      background-color: @three;
      .btn(@three);
    }
    &:last-child {
      background-color: @four;
      .btn(@four);
      //.border-radius(5px, 5px, 0px, 0px);
      border-right: 1pt solid #DDD;
    }
  }
  p {
    width: 243px;
  }
}

@left: 45%;
@gap: 100 - @left - @right;
@right: 47%;
@small-pad: 20px;

#content {
  border: 1pt solid #DDD;
  background-color: white;
  margin-top: @top-height + 20px;
  padding: 20px @pad;
  font-size: 0;

  .img {
    border: 1pt solid #DDD;
    width: 100%;
  }
}

.buy-now {
  margin-left: -1-@pad;
  margin-top: 50px;
  padding: 20px;
  padding-left: 19+@pad;
  .btn(#fff300);
  text-decoration: none;
  a {
    color: red;
    font-size: 32px;
    font-weight: bold;
  }
  span {
    display: inline-block;
    font-size: 20px;
    vertical-align: top;
    margin-left: 10px;
    .transition(opacity, 0.2s);
    opacity: 0;
  }
  &:hover {
    span {
      opacity: 1;
    }
  }
}
.main-left {
  //margin-top: @small-pad;
  vertical-align: top;
  font-size: 20px;
  line-height: 24px;
  display: inline-block;
  width: @left;
  margin-right: @gap;
  background-color: rgba(255, 255, 255, 0.7);

}
.main-right {
  display: inline-block;
  width: @right;
  font-size: 14px;
  img {
    width: 100%;
  }
}

.divider {
  height: 0px;
  border-top: 1pt solid #ccc;
  margin: 20px 0 40px;
}

.box {
  //border-bottom: 4pt double #DDD; 
  margin-bottom: 2*@small-pad;
  &:first-child {
    padding-top: 0px;
  }
  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }
  font-size: 0px;
  > div {
    vertical-align: top;
    display: inline-block;
  }
}

.text {
  margin-left: 30px;
  font-size: @font-size;
  line-height: 26px;
}

.small-text {
  margin-left: 30px;
  font-size: 14px;
  line-height: 18px;
  text-align: justify;
  p {
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@small: 40%;
@big: 55%;
@margin: 100 - @small - @big;

.small {
  font-size: @font-size;
  text-align: justify;
  width: @small;

  &.left {
    margin-right: @margin;
    h1 { 
      padding-left: @pad;
      margin-left: -@pad;
    }
  }

  &.right {
    margin-left: @margin;
    h1 {
      margin-right: -@pad;
      padding-left: 10px;
    }
  }

  li:before {
    content: "- ";
    font-weight: bold;
  }
  h1 {
    line-height: 160%;
    margin-bottom: 20px;
  }
  &.one h1 {
    .3d(lighten(@one, 20%));
  }
  &.two h1 {
    .3d(lighten(@two, 20%));
  }
  &.three h1 {
    .3d(lighten(@three, 10%));
  }
  &.four h1 {
    .3d(lighten(@four, 10%));
  }
}
.big {
  font-size: 20px;
  width: @big;
  img {
    width: 100%;
  }
}
.testimonials {
  padding: 10px;
  margin-top: 30px;
  //border-top: 3pt double #ddd;
}
.test {
  display: inline-block;
  width: 29%;
  margin-right: 5%;
  &:last-child {
    margin: 0;
  }
}
.quote {
  font-style: italic;
  margin-bottom: 5px;
}
.quoter {
  text-align: right;
  font-size: 80%;
  &:before{
    content: " - ";
  }
}



#logo {
  //float: left;
  margin-top: -15px;
  height: 100%;
  z-index: -10;
}
#name {
  color: #333;
  position: absolute;
  top: 120px;
}

#middle {
  margin-top: 40px;
}

.footer {
  font-size: 80%;
  text-align: center;
  padding: 20px 00px;
  color: #222;

  a {
    color: #333;
  }
}
