.transition(@item: all, @dur: 1s, @ease: ease, @delay: 0) {
  -o-transition: @item @dur @ease @delay;
  -moz-transition: @item @dur @ease @delay;
  -webkit-transition: @item @dur @ease @delay;
  transition: @item @dur @ease @delay;
}

.gradient(@start: white, @stop: grey) {
  background: @start;
  background: -moz-linear-gradient(top, @start 0%, @stop 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@start), color-stop(100%,@stop));
  background: -webkit-linear-gradient(top, @start 0%,@stop 100%); 
  background: -o-linear-gradient(top, @start 0%,@stop 100%); 
  background: -ms-linear-gradient(top, @start 0%,@stop 100%);
  background: linear-gradient(top, @start 0%,@stop 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfecfc', endColorstr='#319ff9',GradientType=0 );
}
.btn(@color: #FAFAFA, @text-shadow: rgba(255,255,255, 0.75)) {
  .gradient(lighten(@color, 5%), darken(@color, 10%));
  text-shadow: 0 1px 1px @text-shadow;
  &:hover {
    .gradient(lighten(@color, 10%), darken(@color, 5%));
  }
  &:active {
    .gradient(@color, lighten(@color, 10%));
  }
  cursor:pointer;
}

.3d(@color: #eee) {
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  .gradient(lighten(@color, 5%), darken(@color, 10%));
}

@width: 980px;
@back: #030739;
@pad: 30px;
@background: #FDFDFD;
@font-size: 18px;
@line-height: 24px;
@maroon: #960005;
body {
  font: @font-size;
  font-family: "Open Sans";
  // background-image: url("/assets/back-diag.jpg");
  // background-repeat: repeat-x repeat-y;
  background-color: #f6f6fc;
}

h1 {
  font-size: 36px;
  font-weight: normal;
}

li {
  list-style: none;
}

.contain {
  width: 960px;
  margin: 0 auto;
}

@top-height: 100px;
.top-container {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: @top-height;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  //background-image: url("/assets/back-diag.jpg");
}

#top {
  background-color: transparent;
  position: relative;
  height: 100%;
}

/* Tab colors */
/*
@one: #00B9E4;
@two: #EC008C;
@three: #92D400;
@four: #FF6E00;
*/
@e-color: #fff;
@one: @e-color;
@two: @e-color;
@three: @e-color;
@four: @e-color;

@one: #a8fffe;
@two: #eca4c0;
@three: #D3F499;
@four: #FFAF9D;

#logo {
  width: 50%;
  img {
    margin-top: 15px;
    width: 20%;
  }
  p {
    font-size: 30px;
    margin-top: 35px;
    margin-left: 20px;
    color: @maroon;
  }
}

.logo-text {
  font-family: "Droid Serif";
  color: @maroon;
  font-size: 50px;

}
.nav {
  position: absolute;
  top: 30px;
  left: 60%;
  width: 40%;
  color: #222;
  text-align: center;
  font-size: 20px;
  td {
    cursor:pointer;
    border-right: 1pt solid #DDD;
    padding: 10px 0;
    @shadow-color: rgba(255, 255, 255, 0.75);
    /*
    &:first-child {
      // background-color: @one;
      // .btn(@one);
      //.border-radius(0px, 0px, 5px, 5px);
    }
    &:nth-child(2) {
      background-color: @two;
      .btn(@two);
    }
    &:nth-child(3) {
      background-color: @three;
      .btn(@three);
    }
    */
    &:last-child {
      // background-color: @four;
      // .btn(@four);
      //.border-radius(5px, 5px, 0px, 0px);
      border-right: none;
    }
  }
}

#nav-list {
  position: fixed;
  display: none;
  font-size: 14px;
  text-align: left;
  top: 70px;
  left: 805px;
  z-index: 1000;
  background-color: rgba(0,0,0,0.8);
  color: white;

  > li {
    cursor: pointer;
    padding: 3px 10px;
    &:hover {
      background-color: rgba(255,255,255,0.2);
    }
    &:nth-child(2) {
      padding-top: 6px;
    }
    &:last-child {
      padding-bottom: 6px;
    }
    .transition(all, 0.2s);
  }
  .arrow-up {
    @arrow: 5px;
    position: absolute;
    top: -@arrow;
    left: 10px;
    width: 0; 
    height: 0; 
    border-left: @arrow solid transparent;
    border-right: @arrow solid transparent;
    border-bottom: @arrow solid rgba(0,0,0,0.8);
  }
}

@left: 45%;
@gap: 100 - @left - @right;
@right: 47%;
@small-pad: 20px;

#preview {
  font-size: 0;
  margin-top: @top-height + 20px;
}

#content {
  border: 1pt solid #DDD;
  background-color: white;
  margin-top: 50px;
  font-size: 0;
  padding: 20px @pad;
  .img {
    border: 1pt solid #DDD;
    width: 100%;
  }
}

.preview-left {
  vertical-align: top;
  font-size: 20px;
  display: inline-block;
  width: 50%;
  margin-right: 10%;

}
.preview-right {
  display: inline-block;
  width: 30%;
  img {
    width: 100%;
  }
}
/*
.buy-now {
  margin-top: 50px;
  padding: @pad;
  //.btn(#fff300);
  .btn(#FFF180);
  text-decoration: none;
  a {
    color: red;
    font-size: 32px;
    font-weight: bold;
  }
  span {
    display: inline-block;
    font-size: 20px;
    vertical-align: top;
    margin-left: 10px;
    .transition(opacity, 0.2s);
    opacity: 0;
  }
  &:hover {
    span {
      opacity: 1;
    }
  }
}
*/
.main-left {
  vertical-align: top;
  font-size: 20px;
  display: inline-block;
  width: @left;
  margin-right: @gap;
  background-color: rgba(255, 255, 255, 0.7);
}

.main-right {
  display: inline-block;
  width: @right;
  img {
    width: 100%;
  }
}

.divider {
  height: 0px;
  border-top: 1pt solid #ccc;
  margin: 20px 0 40px;
}

/* Book section */ 
.box {
  margin-bottom: 2*@small-pad;
  &:first-child {
    padding-top: 0px;
  }
  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }
  font-size: 0px;
  > div {
    vertical-align: top;
    display: inline-block;
  }
  > h1 {
    margin-top: -20px;
    margin-left: -@pad;
    margin-bottom: 30px;
    width: 100%;
    padding: @pad/3 @pad;
    .3d(#fff);
  }
  /*
  &.one h1 {
    .3d(lighten(@one, 17%));
  }
  &.two h1 {
    .3d(lighten(@two, 20%));
  }
  &.three h1 {
    .3d(lighten(@three, 10%));
  }
  &.four h1 {
    .3d(lighten(@four, 10%));
  }
  */
}

.text {
  margin-left: 25px;
  font-size: @font-size;
  line-height: normal;
  li {
    text-align: left;
    margin-bottom: 5px;
  }
}

.small-text {
  margin-left: 30px;
  font-size: 14px;
  line-height: 18px;
  text-align: justify;
  p {
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@small: 45%;
@big: 45%;
@margin: 100 - @small - @big;

.small {
  font-size: @font-size;
  text-align: justify;
  width: @small;

  &.left {
    margin-right: @margin;
    h1 { 
      padding-left: @pad;
      margin-left: -@pad;
    }
  }

  &.right {
    margin-left: @margin;
    h1 {
      margin-right: -@pad;
      padding-left: 10px;
    }
  }

  li:before {
    content: "- ";
    font-weight: bold;
  }
  h1 {
    line-height: 160%;
    margin-bottom: 20px;
  }
  &.one h1 {
    .3d(lighten(@one, 20%));
  }
  &.two h1 {
    .3d(lighten(@two, 20%));
  }
  &.three h1 {
    .3d(lighten(@three, 10%));
  }
  &.four h1 {
    .3d(lighten(@four, 10%));
  }
}
.big {
  font-size: 20px;
  width: @big;
  img {
    // margin-top: 65px;
    width: 100%;
  }
}
.testimonials {
  padding: 10px;
  margin-top: 30px;
  //border-top: 3pt double #ddd;
}
.test {
  display: inline-block;
  width: 29%;
  margin-right: 5%;
  &:last-child {
    margin: 0;
  }
}
.quote {
  font-style: italic;
  margin-bottom: 5px;
}
.quoter {
  text-align: right;
  font-size: 80%;
  &:before{
    content: " - ";
  }
}

.footer {
  font-size: 80%;
  text-align: center;
  padding: 20px 00px;
  color: #222;

  a {
    color: #333;
  }
}
